@import url('https://fonts.googleapis.com/css2?family=Hind&family=Kanit:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black-100 font-hind text-[16px] leading-[1.5] text-white;
  }
}

@layer utilities {
  .title-lg {
    @apply font-kanit text-[60px] leading-[1.2] -tracking-[0.01em];
  }
  .title-h1 {
    @apply font-kanit text-[36px];
  }
  .title-h2 {
    @apply font-kanit text-[28px];
  }
  .title-h3 {
    @apply font-kanit text-[22px];
  }
  .btn-lg {
    @apply font-kanit text-[20px] font-medium;
  }
  .btn-sm {
    @apply font-kanit text-[16px] font-medium;
  }
  .text-lg {
    @apply text-[18px];
  }
  .caption {
    @apply text-[14px];
  }
  .caption-sm {
    @apply text-[12px];
  }
  .card-gradient {
    @apply rounded-xl;

    background: linear-gradient(126deg, rgba(255, 255, 255, 0.3) 13.84%, rgba(255, 255, 255, 0.1) 74.14%);
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
  }
  .transition-base {
    @apply transition duration-300 ease-in-out;
  }
  .outline-ring {
    @apply ring-white focus-visible:outline-none focus-visible:ring-2;
  }
}
